
/*clipping path cut corner*/
.cutCorner{
	width: 17em;
	height: 10em;
    color: white;
	font-family: sans-serif;
	text-align: justify;
	padding: 1em 1em 1em 2em;
	clip-path: polygon(0 0, 20em 0, 20em 10em, 3em 10em, 0 7em, 0 0);
	background-color: purple;
}