html body{
	margin:0;
	padding:0;
	width:100%;
	height:10000px;
}
#criscross{
	margin:20px;
	width:100%;
	height: 100px;
	background-color: purple;
	background-image: repeating-linear-gradient(45deg, transparent 0 3px, #00000055 3px 6px),repeating-linear-gradient(-45deg,  transparent 0 3px, #00000055 3px 6px);
	
	
}
/* This is not the best way.*/
#stripes-45bad{
	margin:20px;
	width:100%;
	height: 100px;
	background-color: #5433FF;
	background-image: repeating-linear-gradient(45deg, transparent 0% 25%, #00000044 0% 50%);
	background-size: 42.4px 42.4px;
}

#stripes-45{
	margin:20px;
	width:100%;
	height: 100px;
	--stripe_width: 8px;
	background-image: repeating-linear-gradient(-45deg, white 0 calc(1 * var(--stripe_width)), yellow 0 calc(2 * var(--stripe_width)), gray 0, gray calc(3 * var(--stripe_width)));
	
}


#stripes-h{
	margin:20px;
	width:100%;
	height: 100px;
	background-color: #5433FF;
	background: linear-gradient(#FFF 50%, #F4F 0);
	background-size: 100% 10px;
	
}

#stripes-v{
	margin:20px;
	width:100%;
	height: 100px;
	background-color: #5433FF;
	background: linear-gradient(90deg, #FFF 50%, #4FF 0);
	background-size: 10px 10px;
	
}

#stripes-angle{
	margin:20px;
	width:100%;
	height: 100px;
	background: #58a;
	background-image: repeating-linear-gradient(45deg, #FFFFFF33 0px 20px, transparent 20px 40px);
}

#gingham{
	margin:20px;
	width:100%;
	height: 100px;
	background: white;
	--stripe_color: #FF000081;
	background-image: linear-gradient(90deg, var(--stripe_color) 0 50%, transparent 0),
					  linear-gradient(0deg, var(--stripe_color) 0 50%, transparent 0);
	background-size: 20px 20px;
}

#grid{
	margin:20px;
	width:100%;
	height: 101px;
	background: #2222AA;
	border: solid 1px #555555;
	--stripe_color: #FFFFFF55;
	background-image: 
		linear-gradient(var(--stripe_color) 0 2px, transparent 0px),
		linear-gradient(90deg,var(--stripe_color) 0 2px, transparent 0px),
		linear-gradient(var(--stripe_color) 0 1px, transparent 0px),
		linear-gradient(90deg,var(--stripe_color) 0 1px, transparent 0px);
	background-size:45px 45px, 45px 45px,
					15px 15px, 15px 15px;
}

#dots{
	margin:20px;
	width:100%;
	height: 101px;
	background: #222222;
	--dot_size: 8px;
	background-image: 
	radial-gradient(#00000077 30%, transparent 0),
	radial-gradient(#00000077 30%, transparent 0),
	radial-gradient(#111111,#222222);
	background-size: var(--dot_size) var(--dot_size);
	background-position: 0 0 , calc(var(--dot_size) / 2) calc(var(--dot_size) / 2);
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 5em;
	
}

#nylonStrap{
	margin:20px;
	width:100%;
	height: 101px;
	background: #111;
	background-image: 
	radial-gradient(#000 30%, transparent 0),
	radial-gradient(#000 30%, transparent 0);
	background-size: 3px 30px;
	background-position: 0 0 , 15px 15px;
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 5em;
}

#checker{
	margin:20px;
	width:100%;
	height: 101px;
	background: #222;
	--accent_color: #111;
	--square_size: 10px;
	--shift: calc(var(--square_size) / 2);
	
	background-image:linear-gradient(45deg, 
									var(--accent_color) 25%, transparent 0,
									transparent 75%, var(--accent_color) 0),
					 linear-gradient(45deg, 
									var(--accent_color) 25%, transparent 0,
									transparent 75%, var(--accent_color) 0);
				
	background-size: var(--square_size) var(--square_size);
	background-position: 0 0, var(--shift) var(--shift)  , var(--shift)  var(--shift) , 0 0;
	
	padding: 10px;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 5em;
}

#checkerAlt{
	margin:20px;
	width:100%;
	height: 101px;
	background: #EEE;
	--square_size: 10px;
/*	conic gradient*/
	background: repeating-conic-gradient(#555 0, #555 25%, #333 0, #333 50%);
	background-size: var(--square_size) var(--square_size);
	
	padding: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 5em;
}